# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://yputaaxtovjntnesvhvn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwdXRhYXh0b3ZqbnRuZXN2aHZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkyNjUwMTMsImV4cCI6MjA4NDg0MTAxM30.WBBdiOFRkSyZ-jpa-8rrq0XhlMGUpe6OYw8QmmUiqFY
